@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    font-family: 'Comfortaa', cursive;
}

body{
    background: url('assets/images/background.jpg') no-repeat center center;
    font-family: 'Comfortaa', cursive;
}
.section-card{
    border: 1px solid;
    max-width: 800px;
    background-color: #fff;
    margin: 100px auto;
    border-radius: 10px;
    padding: 20px;
}
.button{
padding: 20px 30px;
background-color: blue;
color: #fff;
border-radius: 10px;
cursor: pointer;
font-family: 'Comfortaa', cursive;
margin: 20px 0;
}

/* hide section */
.hide{
    display: none!important;
}

.correct{
    height: 100%;
    width: 100%;
    background-color: green!important;
}

.incorrect{
    height: 100%;
    width: 100%;
    background-color: red!important
}
.choice-answered{
    pointer-events: none;
}
.next-question-button{
    display: none;
}
/* start quiz */
.start-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.start-button{}

/* name section */

.name-section{
    display: none;
    flex-direction: column;
    justify-content: center;
}

/* quiz */

.game-section{
    display: none;
    flex-direction: column;
    justify-content: center;
}

.question-count{
    text-align: center;
    border-bottom: 1px solid;
    padding: 15px 30px;
}

.question-text{
    text-align: center;
    margin: 40px 0;
}
.choices-container .choice {
    background-color: blueviolet;
    border-radius: 10px;
    padding: 15px 30px;
    margin: 15px 0;
    cursor: pointer;
}
.answers-indicator{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.answers-indicator div{
    height: 50px;
    width: 50px;
    background-color: gray;
    border-radius: 50%;

}

/* summary section */

.summary-section{
    display: none;
    flex-direction: column;
    justify-content: center;
}
.total-questions{}
.results{
    display: flex;
    flex-direction: column;
}
.correct-answers{}
.incorrect-answers{}
.play-again{}
.home-button{}